.navbar{   
    align-items: center;
    background-color: #8BD87F ;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: -1px 0.5px 0.5rem rgb(131, 131, 131);
    max-height: 3.8rem;
    & .logoNav{
        max-width: 50px;
    }

& .BarraPesquisa{    
    display: flex;
    flex-direction: row;
    gap: 0.2rem;
    


    & input:first-child  {
        background-color: #FFFFFF;
        border-radius: 10px 0 0 10px;
        padding:  1vh 5vw;
        border: none;
        box-shadow: -1px 0.5px 0.5rem rgb(131, 131, 131);
        text-decoration:none
    
    }
    
    & input:last-child  {
    background-color: #227216;
    border-radius: 0 10px 10px 0;
    color: white;
    border: none;
    box-shadow: -1px 0.5px 0.5rem rgb(131, 131, 131);
    }
    
    & input:last-child:hover {
        background-color: rgb(5, 91, 19);
        
    }
   
}
& a{
    text-decoration: none;
 }

}



    & .usuario{
        display: flex;
        flex-direction: column;
        margin-right: 1rem;
        align-items: center;
        gap: 0.3rem;
        & a{
            color:  white;
            text-decoration: none;
            font-weight: bolder;
        }
        & a:hover{
            color:  #227216 ;
            
        }
        
    }
