.list-feed {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: auto;
    overflow: hidden;
    padding-top: .8rem;
    /* background: url("https://static.wikia.nocookie.net/1e17bced-251e-4c43-b3ac-ed39ee07cb94"),rgba(6, 110, 6, 0.7); */
    /* background: linear-gradient(to right, rgb(10, 119, 19), rgba(255, 0, 0, 0)); */
    background: green;

    & .feed-header {
        display: flex;
        background-color: rgba(13, 112, 13, 0.596);
        height: 100%;
    }

    & .list-feed__sinopse-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 12px;
        margin-top: auto;
        background-color: rgb(4, 73, 33);
        height: 3.5rem;
    }

    & .list-feed__sinopse {
        display: flex;
        font-weight: bold;
        color: rgb(255, 255, 255);
        font-size: 18px;
        font-weight: 500;
        line-height: 22.5px;
        margin: 0;
    }
}