.HomePage {
    & .feed-section_heading h2 {
        /* background-color: hsl(120, 61%, 45%); */
        background-color: rgba(13, 112, 13, 0.596);
        border-top: 10px solid #520044;
        color: #fff;
        display: inline-block;
        font-size: 24px;
        margin: -10px 0 0;
        padding: 10px 18px;
        text-transform: uppercase;
    }

    & .feed-section_heading {
        display: flex;
        border-top: 10px solid #005207;
        align-items: center;
    }

    & .feed-section_heading a {
        display: flex;
        align-items: center;
        text-decoration: none;
    }

    & .ver-tudo-link  {
        font-weight: bold;
        color: #520044;
    }

    & .feed_films {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        max-width: 100%;
        margin: auto;
        overflow: hidden;
    }

    & .feed-header {
        display: flex;
        flex-direction: column;
        /* background-color: rgba(13, 112, 13, 0.596); */
        background: radial-gradient(circle, #fcfcfc, #88e988);
        height: 100%;
    }

    & .list-feed__item-container {
        /* flex: 1 1 calc(33.33% - 24px); */
        display: flex;
        margin: 0.5rem;
        max-width: 200px;
    }

    & .list-feed__item {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    & .list-feed__image-wrapper {
        position: relative;
        overflow: hidden;
        max-height: 100%;
    }

    & .list-feed__image-container {
        display: flex;
        height: 100%;
        max-width: 100%;
        background-color: #520044;
    }

    & .list-feed__image-container img {
        width: 100%;
    }
}