.filme-info{
    display: flex;
    margin-top: 18px;
    flex-direction: column;
    max-width: 800px;
    padding: 0 8px;

    & .filme-info img{
        border-radius: 8px;
        width: 100%;
        max-width: 100%;
        height: auto;
        object-fit: cover;
    }

    & .filme-info h1{
        margin: 14px 0;
    }
    
    & .filme-info h3{
        margin-top: 14px;
    }
    
    & .filme-info spam{
        margin: 8px;
    }
    
    & .buttons button{
        margin-right: 12px;
        margin-top:14px;
        margin-left: 0;
        font-size: 20px;
        border: 0;
        outline: none;
        padding: 12px;
        border-radius:4px ;
        cursor: pointer;
        background-color: palevioletred;
    }
    
    & .buttons button:hover{
        color: antiquewhite;
    }
    
    & .buttons a{
        text-decoration: none;
        color: black;
    }
    
    & .buttons a:hover{
        color: antiquewhite;
    
    }
}

