.filme-info {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: .2rem;
    max-width: 100%;
    flex-direction: column;

    & .filme-header {
        display: flex;
        justify-content: center;
        flex-wrap: nowrap;
        background-color: #077101ae;

        & .header_wrapper {
            display: flex;
            margin-top: 4rem;
            flex-direction: column;
            height: 50%;
            margin-left: 1rem;
        }

        & .filme-sinopse_conteiner {
            display: block;
            width: 90%;
            align-items: center;
            justify-content: center;

            padding: 1rem;
        }

        & .avaliacao-conteiner {
            margin-top: 1rem;
            margin-left: 1rem;
        }

        & .genero-container {
            display: block;
            width: 90%;
            align-items: center;
            justify-content: center;
            margin-left: 1rem;
        }

        & .filme-image {
            height: auto;
        }

        & .filme-image img {
            border-radius: 8px;
            width: 85vh;
            height: auto;
            object-fit: cover;
        }

        & .filme-titulo {
            margin-bottom: 0.1rem;
        }

        & .filme-titulo h1 {
            color: rgb(0, 0, 0);
            align-self: self-start;
            margin: 0.5rem 1rem;
        }

        & .button {
            display: flex;
            margin: auto;
        }

        & .button button {
            margin-right: 12px;
            margin-top: 14px;
            font-size: 20px;
            border: 0;
            outline: none;
            padding: 12px;
            border-radius: 4px;
            cursor: pointer;
            background-color: rgb(63, 172, 87)
        }

        & .button button:hover {
            color: antiquewhite;
        }

        & .button a {
            text-decoration: none;
            color: black;
        }

        & .button a:hover {
            color: antiquewhite;

        }

    }


    & .info-elenco {

        & .elenco-titulo {
            display: flex;
            gap: 2rem;
            margin-left: 2rem;
        }

        & .people-elenco {
            display: flex;
            justify-content: center;
            align-items: center;

            margin-left: 2rem;

            overflow-x: auto;
            gap: 2rem;

            & .people-card {
                display: flex;
                flex-direction: column;
                margin-right: 1rem;
                width: 100%;
                border-start-start-radius: 10px;
                box-shadow: -1px 0.5px 0.5rem rgb(131, 131, 131);

                .people-name {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 2.5rem;
                    
                }

                .people-name p {
                    margin: 1rem;
                }

            }
        }
    }

    & .people-elenco img {
        width: 100%;
        height: 80%;
        border-start-start-radius: 10px;
        object-fit: cover;
    }

    & .info-diretor {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-left: 2rem;

        & .diretor-titulo {
            display: flex;
            gap: 2rem;
            margin-left: 1rem;
        }

        & .diretor-card {
            width: 100%;
            height: 100%;
            margin-left: 1rem;
        }

        & .diretor-card img {
            width: 7%;
            height: 100%;
            border-start-start-radius: 10px;
            object-fit: cover;
        }
    }

    /* & img {
        border-radius: 8px;
        width: 40%;
        height: auto;
        object-fit: cover;
    } */


    & .filme-info h3 {
        margin-top: 14px;
    }

    & .filme-info spam {
        margin: 8px;
    }




}