.ContainerPerfil {
    display: flex;
    flex-direction: column;

    & h2{
      color:#006c0b;
    }
    

    & .PostagemContainer {
      width: 100%; /* Ajuste isso para a largura desejada */
      overflow: hidden;
      white-space: nowrap;
      display: flex;
      transition: transform 0.3s ease-in-out;
      justify-content: space-around;
      background-color: #e9e9e9;
      padding: 0.5rem;
      }
      

      & .ControlesCarrossel{
        display: flex;
        justify-content: center;
        gap: 4px;
        margin-top: 0.4rem;
        
        
        & button{
          background-color: #00A310;
          border: none;
          box-shadow: -1px 0.5px 0.5rem rgb(131, 131, 131);
          color: white;
          transition: background-color 0.3s;

        }
        & button:hover{
          background-color:#034309;
          

        }
      }

   


      & .Postagem {
        padding: 0.4rem;
        background-color: rgb(205, 205, 205);
        border-radius: 5px;
        text-align: center;
        width: 10rem;
        height: 6rem;
        justify-content: space-between;
        gap: 0.1rem;
        margin-right: 1rem; /* Espaçamento entre as postagens */
        display: inline-block; /* Para garantir que as postagens fiquem em linha */
      
        & p:first-of-type {
          margin-top: 0;
          margin-bottom: 1rem;
          align-self: start;
          flex-wrap: wrap;
          white-space: normal;
          font-size: smaller;
          color: rgb(55, 55, 55);
        }
      
        & p:last-of-type {margin-bottom: 10rem;
          display: flex;
          flex-direction: row-reverse;
          margin: 0;
          margin-top:0.5rem;
          align-self: flex-end;
          font-size: small;
          color: #333;
        }

        & span{
          display: flex;
          color: #9b9999;
          flex-direction: row-reverse;
          font-size: smaller;
          align-self: flex-end;
        }

        & button{
          margin-top: 0.8rem;
        }

      
    
      }

    & .GroupWikis {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 0 1rem;
        flex-wrap: wrap;




        & .wikiteste{
            background-color: rgb(189, 180, 180);

            & .WikiStyleUSer{
                display: flex;
                flex-direction: column;
                 max-width:14rem; 
            
                 & h3 {
                    margin: 0;
                    margin-left: 1px;
                    text-decoration: none;
                    color: rgb(255, 255, 255);
                    background-color: #00A310;
                    margin-bottom: 0;
                    padding: 0.2rem;
                }
            }
        
        }
    }

    .BtBotoes{
        display: flex;
        flex-direction: row-reverse;
        align-items: flex-end;

        & button {
           background-color:#00A310;
           color: white;
           border: none;
           border-radius: 5px;
           transition: background-color 0.2s;
           ;
          } 

          & button.like {
            background-color: #00A310;
            color: white;
          }
      
          & button.dislike {
            background-color: #FF0000;
            color: white;
          }
          
          & button:hover{
        background-color:#034309;
       }
    }




    .AddPostagem{
        justify-content: space-between;
        border-radius: 10px;
        align-self: center;
        padding: 1rem;
        align-items: center;
        display: flex;
        flex-direction: row;
        margin-bottom: 1rem;
        max-width: 60%;
        border:solid 0.5px  #00A310;
        gap: 20px;

       & .nome{
            border-radius: 20px;
            background-color: #9b9999;
            border: none;
            width:  15rem;
            height: 2rem;
        }
        & label{
            display: flex;
            background-color: aqua;
            flex-direction: row;
            font-size: medium;
            color: #9b9999;

        }

        & button{
            border-radius: 10px;
            background-color: #034309;
            color: white;
            padding: 0.3rem;
        }
    }
}

.divPrateleira {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 2rem;
  padding: 0;
  margin-top: 0;

  & .Prateleira {
    height: 1rem;
    transition: height 0.5s;
    padding: 0;
    margin-top: 0;

    & .PrateleiraInfoContent {
      align-items: center;
      display: flex;
      flex-direction: column;
      background-color: hsl(126, 92%, 20%);
      padding: 0;
      margin-top: 0;
      height: 0;
       transition: height 0.3s; 
      & p {
        color: rgb(255, 255, 255);
        margin: 0; 
        margin-bottom: 0.5rem; 
      }
  
      & p:not(:last-child) {
        margin-bottom: 0;
      }
    }

   
  }

   & .Prateleira:hover .PrateleiraInfoContent {
    height: 32rem; 
  }
}

      

      & .Prateleira:hover{
        height: 5rem;


      }

    

    
    & .GoOutraPag {
        box-shadow: -1px 0.5px 0.5rem rgb(131, 131, 131);
        display: flex;
        justify-content: center;
        width: 10rem;
        text-decoration: none;
        color: white;
        background-color: #00A310;
        margin-top: 1rem;
        height: 2rem; 

        border-radius:10px  10px    0  0px ;
        transition: background-color 0.3s;

  
        & p{
          display: flex;
          justify-self: start;
          align-self:unset;
        }
    
      }

        
    & .GoOutraPag:hover {
        background-color: #034309;
    }

     

.MostrarAdd{
    display: flex;
    align-items: center;
    gap: 1rem;

    & button{
        font-size: large;
        color: white;
        background-color:#00A310;
        max-height: 3rem;
        border: none;
        border-radius: 80px;
    }
}


.SimpleTimeline {
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
  }

  & a {
    text-decoration: none;
  }
  
  & .WikiItem {
    background-color: #f3f3f3;
    border-radius: 5px;
    padding: 20px;
    max-width: 400px;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative;
    transition: transform 0.2s ease-in-out;
    margin-right: 2.5rem;
    text-decoration: none;
  }
  
  & .WikiItem h3 {

    font-size: 1.5rem;
    margin: 0;
    color: #333;
    font-weight: bold;
  }
  
  & .WikiItem p {
    font-size: 1rem;
    color: #555;
  }
  
 & .WikiItem:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  }
  
  .comunidade{
    & a {
      display: flex;
      margin-top: 1px;
      & button{
        padding: 0.4rem;
        background-color: #00A310;
        border: none;
        color: white;
        border-radius: 10px;
      }
      
      & button:hover{
        background-color:#034309;


      }
    }
  }

  @media screen and (max-width: 570px) {
   

   

      

    .PostagemContainer {
      width: 100%; 
         
      }
    
    .PostWiki{

      

      & .SimpleTimeline {
        justify-content: end;
          flex-direction: column;
          align-items: center;
          flex-wrap:  nowrap;
          z-index: 10;
     
    
      }
      & .WikiItem {
       height: 10rem;
        padding: 10px;
        max-width: 12rem;
        width: 100%;
      
      
        transition: transform 0.2s ease-in-out;
        margin-right: 2.5rem;
      }


    }


   
    



  }




  