& .WikiAllDiv{
   margin: 0;
   background: radial-gradient(circle, #fcfcfc, #cbfccb); /* Cores de exemplo, ajuste conforme necessário */
   height: 100vh;
   display: flex;
   flex-direction: column;

& .TextWiki{
   margin-left: 12rem;
   max-width: 55rem;
   margin-top: 50px;
   background-color: rgb(231, 231, 231);
    display: flex;
    flex-direction: column;
    padding: 1rem;

   

    & .ExibindoWiki{
         display: flex;
         flex-direction: column;
         justify-content: space-between;
         

         & .ConteudoWikiDiv{
         display: flex;
         flex-wrap: wrap;
         color: #073000;
       }

       & .titulowikiDiv {
         border-radius: 2px;
         background-color: rgb(255, 255, 255);
         display: flex;
         justify-content: center;
         margin-bottom: 2rem;
         color: rgb(5, 106, 5);
   
       }
    }


    & .GoToComunidade{
      margin-top: 5rem;
         display: flex;
         flex-direction: row-reverse;

         
         & a{
            box-shadow: -1px 0.5px 0.5rem rgb(182, 181, 181);

            color: white;
            text-decoration: none;
            padding: 10px;
            background-color: rgb(181, 181, 181);
            border-radius: 20px;
         }

         & a:hover{
            background-color: rgb(165, 165, 165);
            transition: 50ms;

         }

        
        
    }
}
}