.Prateleira {
  display: flex;
  flex-direction: column;

  

  & h2,h3 {
    color: #055900db
  }

   
  & .Filtros{
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #ececec ;

    & button {
      color: white;
      display: flex;
      align-self: center;
      border-radius: 2px;
      border: none;
      width: 8rem;
      padding:0.5rem;
      justify-content: center;
      background-color: #077101db;
      margin: 0 10px;
    }
    & button:focus{
      background-color: #02700d;
    }
  }

  & .Listas{
    margin-top: 1rem;
    display: flex;

    & .Filmes{
      justify-content: center;

      & ul{
        display: flex;
        flex-direction: row;
        justify-content: center;
        & li{
          margin: 0.1rem;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 8rem;
          height: 8rem;
            & img{
              object-fit: cover;
              width: 100%; 
              height: 100%;
              
            }

        }
      }
    }
        
  }

  }


.BtCategory{
  display: flex;
  margin-top: 1.5rem;
  justify-content: center;
  gap: 0.7rem;
  white-space: nowrap;
  
  & button{
    box-shadow: -1px 0.5px 0.5rem rgb(131, 131, 131);
    background-color: #01800d;
    border: none;
    color: white;
    padding: 0.5rem;
    border-radius: 2px;

  }

  & button:hover{
    background-color: #02700d;
    
  }
}

.Listas {
  display: flex;
  flex-direction: column;
  margin-bottom: 8rem;

  & ul {
    list-style: none;
    margin-left: 1rem;
    padding: 0;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 0.4rem;
    flex-wrap: wrap;
    

    & li {
      margin: 0;
      padding: 10px;
      box-shadow: -1px 0.5px 0.5rem rgb(182, 181, 181);
      background-color: #dadada;
       align-items: center;
      display: flex;
      flex-direction: column;



      & img{
        max-width: 3rem;
      }

      & p {
        margin: 0;
      }
      & p:first-of-type {
        color: rgb(0, 94, 0);
        align-self: center;
      }

      & p:last-of-type {
        color: grey;
      }
    }
  }
}

@media screen and (min-width: 560px) {
 .BtCategory{ 
  margin-top: 0.5rem;
  & button{
   
    padding: 0.8rem;
    border-radius: 2px;

  }
}
}