.Comunidade{
    display: flex;
    flex-direction: column;

    & h1{
        color: green;
    }


    & .AllComunidades{
        display: flex;
        flex-direction: column;
        gap:1rem;
        background-color: rgb(245, 246, 245);
        padding: 1rem 0;
        


        & .AddComunidades{
            display: flex;
            align-items:flex-start;
            flex-direction: column;
            justify-content: start;
            margin-bottom: 1rem;
            
            & button{
                border-radius: 4px;
                background-color: green;
                border: none;
                color: white;
                margin-bottom: 1rem;
                
            }

            & .Cadastro{
                border-radius: 2px;
                padding: 0.5rem;
                display: flex;
                flex-direction: column;
                align-items: center;
                background-color: rgb(48, 180, 18);
                box-shadow: -1px 0.5px 0.5rem rgb(181, 181, 181);

                & input{
                   margin-top: 0.2rem;
                }

                & input::placeholder{                    
                        color: rgb(3, 112, 10);;
                    
                }

                & .TipoConteudo, .Subcategorias{
                    display: flex;
                    flex-direction: column;
                    padding: 0.4rem;
                    color: white;
                    align-items: center;
                }

               
            }
        }
    }

    & .ListaComunidades {
        display: flex;
        flex-direction: column;
    
        & h3 {
            color: green;
        }
    
        & p {
            display: flex;
            flex-direction: column;
            background-color: rgb(226, 222, 222);
            padding: 0.4rem;
            margin: 0; 
            margin-bottom: 0.3rem; 
            
            & a {
                text-decoration: none;
                color: rgb(30, 108, 6);
            }
        }
    }
    
}

.SemComunidades{
    margin: 0.5rem;
    & span{
        color: gray;
    }
}


@media screen and (min-width: 560px) {
    .ListaComunidades{
        & p {
            width: 80%;

        }
    }
    
}

@media screen and (min-width: 940px) {
    .Comunidade {
        justify-content: center;
        align-items: center;
        
        
      & .AllComunidades{
        align-items: center;
        justify-content: center;
        padding: 0.4rem 1rem;
        box-shadow: -1px 0.5px 0.5rem rgb(182, 181, 181);

      }
       
    }
    .ListaComunidades{
        padding: 0 2rem ;
        & p {
            width: 18rem;

        }
    }
}





























/* .Comunidade{
    & h1{
        color: green;
    }
    & .AllComunidades {
        margin-top: 5rem;
        display: flex;
        flex-direction: column;
        gap: 3%;

        & .AddComunidades{
            background-color: rgb(238, 238, 238);
            align-self: center
        
        }
    }
}





.AddComunidades .Cadastro {
  
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 10px;
    box-shadow: -1px 0.5px 0.5rem rgb(131, 131, 131);



    & input:first-of-type {
        width: 10rem;
        background-color: rgb(173, 173, 173);
        border: none;
    }
    & input:last-of-type {
        border: none;
        width: 10rem;
        height: 7rem;
        justify-self: start;
        background-color: rgb(173, 173, 173);
    }

    & button {
        background-color: #00A310;
        color: white;
        border: none;
    }
}

.ListaComunidades {
    box-shadow: -1px 0.5px 0.5rem rgb(131, 131, 131);

    margin: 0; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: rgb(211, 211, 211);
    margin-right: 0;
    width: 10rem;


    & p{
        margin-top: 0;
        background-color: #00A310;
        color: white;
    }

    & a {
        display: flex;
        padding: 1px; 
        color: aliceblue;
        background-color: rgb(58, 193, 13);
    }

    & a:hover {
        color: rgb(255, 255, 255);
        background-color: #00A310;
    }
}

 */