
.Novawiki {
    display: flex;
    flex-direction: column;
    
    & h2 {
        color: #006503;
        margin-bottom: 2px; 
    }


    & form{
      border-radius: 2px;
      align-self: center;
      width: 60rem;
      padding: 1rem;
      background-color: rgb(241, 241, 241);
      margin-top: 1rem;
      display: flex;
      flex-direction: column;
      max-width: 80%;
    }
    
    & label {
    
      margin-bottom: 5px;
      color: #006503;
    }
  
    & input,
     textarea {
      width: 100%;
      padding: 8px;
      margin-bottom: 1px;
      box-sizing: border-box;
      resize: none;
      
    }
  
    & textarea {
      height: 15rem;
    }
  
    & button {
      display: flex;
      align-self: flex-end;
      justify-self: center;
      background-color: #004102;
      color: white;
      padding: 15px 50px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }
  
    @media screen and (min-width: 600px) {
      & .SpaceAddWiki {
        width: 60%;
      }
    }
  }
  